/* index page */

.text {
     background-color: #a5a8f8;
     font-family: Georgia, serif;
     color: rgb(66, 57, 57);
     font-weight: bold;
     font-size: 52px;
     text-align: center;
}

.text.recipe {
     font-size: 30px;
}


/* all 3 */

.recipes {
     background-color: #a5a8f8;
     font-family: Georgia, serif;
     color: rgb(66, 57, 57);
}

.title-recipes {
     text-align: center;
}

.title-recipes,
.ingredients,
.steps {
     font-weight: bold;
}

.image-one {
     width: 450px;
     height: 600px;
}

.image-two {
     width: 400px;
     height: 600px;
}

.image-three {
     width: 800px;
     height: 400px;
}